@import '@/styles/antd.customize.less';

.ant-layout-sider-children {
    display: flex;
    flex-direction: column;

    .ant-menu-root {
        height: 100vh;
        overflow: auto;

        .ant-menu-item {
            display: inline-flex;
            align-items: center;
        }

        .ant-menu-item .ant-menu-item-icon,
        .ant-menu-submenu-title .ant-menu-item-icon,
        .ant-menu-item .anticon,
        .ant-menu-submenu-title .anticon {
            font-size: 24px;
        }
    }


}